.aboutme-content-section {
    margin-top: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.technology-image {
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 20%;
}

.postit-board-intro-text {
    font-size: 48pt;
    width: 100%;
    text-align: left;
    margin-left: 10%;
}