.main-content-panel {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow-y: scroll;
    height: 100vh;
    scrollbar-color: #AAA #111111;
    scroll-behavior: smooth;
}

.greeting-text {
    margin-top: 50px;
    font-size: 48pt;
    width: max-content;
    text-align: center;
    width: 100%;
    line-height: 0.6em;
}

.name-text-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.name-text {
    margin: 0;
    font-size: 64pt;
    width: max-content;
    text-align: center;
    color: transparent;
    background-clip: text;
}

.name-subtext {
    width: 100%;
    margin: 0;
    font-size: 20pt;
    color: white;
    flex-shrink: 0;
    height: 50px;
    text-align: center;
}

.name-subtext img{
    vertical-align: text-top;
}

.homescreen-intro-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headshot-photo {
    width: 60vh;
}